body {
  margin: 0;
  height: 100vh;
}

section {
  height: 100%;
}

/* the title */
h1 {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: middle;
  place-items: center;
  height: 100vh;
}

.title {
  font-family: "Source Serif Pro", serif;
  font-weight: 450;

  font-size: 1.8em;
}

/* the rest */
.information {
  font-family: "Roboto", sans-serif;
}
.info__p {
  line-height: 1.5;
  text-align: left;
  margin: 1em;
  
  text-indent: 40px;
}
.info__img {
  object-fit: cover;
  width: 90vw;
  max-width: 70ch;
  margin: 1em;
  height: auto;
  
  border-radius: 0.2em;
}

/* the footer */
footer {
  height: 2.5rem;

  display: flex;
  justify-content: space-evenly;
  padding: 0 1em 0 1em;
  color: grey;
}

/* animations */
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  grid-column: 2 / 3;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3 / 4;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
@media (min-width: 300px) {
  .info__text {
    margin-top: 1em;
    margin-bottom: 10em;
  }
}

@media (min-width: 700px) {
  .title {
    font-size: 3.5em;
  }

  .info__text {
    margin: 0em;
  }

  .text__h2 {
    text-align: center;
  }
  .info__p {
    max-width: 70ch;
    margin: 1em;
  }
  /* .info__img {
        height: 12em;
        width: auto
    } */

  .left {
    margin-right: 1.5em;
  }

  .right {
    margin-left: 1.5em;
  }

  .information {
    margin: 0em auto 0em auto;
    max-width: 45em;
  }
}
