.nav {
  max-width: 75rem;
  margin: 0 auto 0 auto;
  padding-left: 0.5rem;

  font-size: 1.2em;
}
.nav__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav__li {
  float: left;
}

.nav__a {
  color: black;
  text-decoration: none;
  font-family: "Source Serif Pro", serif;

  opacity: 0.75;
  padding: 20px 0px 10px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
}

.nav__a:hover {
  opacity: 1;
}

.nav__a::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #031d44;
}

.nav__a--ltr::before {
  width: 0%;
  bottom: 5px;
}

.nav__a--ltr:hover::before {
  width: 100%;
}

/* the footer */
footer {
  height: 2.5rem;

  display: flex;
  justify-content: space-evenly;
  padding: 0 1em 0 1em;
  color: grey;
}

@media (min-width: 700px) {
  .nav {
    padding-left: 0rem;
  }
}

@media (min-width: 1200px) {
  .nav__ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
